* {
  margin: 0;
}

body {
  background-color: #ffd2a8;
}

#root {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-color: #ffd2a8;
}

div {
  display: flex;
  align-items: center;
  flex-direction: column;
}